body{
  font-family: Arial, sans-serif;
  padding: 20px;
}

input, button{
  padding: 12px;
  font-size: 16px;
  margin: 6px 0;
  width: 100%;
  max-width: 320px;
}

#nama{
  font-weight: bold;
  margin: 8px 0;
}
